$primary: red

.card:not(:last-child)
  margin-bottom: 25px
.card
  transition: background-color 500ms
.card.completed
  background-color: #dfffdf
.newItemCard
  position: sticky
  top: 48px

.list-enter-active, .list-leave-active 
  transition: all 500ms
.list-enter /* .list-leave-active below version 2.1.8 */ 
  opacity: 0
  transform: translateY(30px)
.list-leave-to
  opacity: 0
  transform: translateX(150px)

i.fas
  font-size: 1.3em