<template>
  <section class="section" id="app">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <!-- New/Edit Todo -->
          <div class="card newItemCard">
            <div class="card-header">
              <p class="card-header-title">New Item</p>
            </div>
            <div class="card-content">
              <div class="field">
                <label class="label">Title</label>
                <div class="control">
                  <input type="text" class="input" v-model="newTitle" @keydown.enter="addItem" ref="newTitle">
                </div>
              </div>
              <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <textarea class="textarea" v-model="newDescription" @keydown.shift.enter.prevent="addItem"></textarea>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a class="card-footer-item" @click="addItem">
                Add Item
              </a>
            </div>
          </div>
        </div>
        <div class="column">

          <!-- Show todos -->
          <transition-group tag="div" name="list">
            <div
              class="card"
              v-for="(todo, index) in todos"
              :key="todo.count"
              :class="{'completed': todo.completed}"
            >
              <div class="card-header">
                <p class="card-header-title" v-if="todo.editable">
                  <input
                    type="text" class="input"
                    v-model="todo.title"
                    @keydown.enter="todo.editable = false"
                    :id="'todoTitleInput' + index"
                  >
                </p>
                <p class="card-header-title" v-else>{{ todo.title }}</p>
              </div>
              <div class="card-content" v-if="todo.description || todo.editable">
                <div class="field" v-if="todo.editable">
                  <div class="control">
                    <textarea class="textarea" v-model="todo.description" @keydown.shift.enter.stop="todo.editable = false"></textarea>
                  </div>
                </div>
                <div v-if="!todo.editable && todo.description">
                  {{ todo.description }}
                </div>
              </div>

              <!-- Card Footer -->
              <div class="card-footer" v-if="todo.editable">
                <a class="card-footer-item" @click="todo.editable = false">
                  <i class="fas fa-save"></i>
                  <span>&nbsp;Save</span>
                </a>
              </div>
              <div class="card-footer" v-else>
                <a
                  class="card-footer-item"
                  @click="startEditing(index)"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <a class="card-footer-item" @click="todo.completed = !todo.completed; storeTodos(todos);">
                  <i class="fas" :class="{'fa-check-square': !todo.completed, 'fa-undo': todo.completed}"></i>
                </a>
                <a
                  class="card-footer-item"
                  @click="trashItem(index)"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'app',
  // App data
  data() {
    return {
      todos: [],
      newTitle: "",
      newDescription: "",
      todoCount: 0
    }
  },

  // App methods
  methods: {
    // Delete an item
    trashItem(index) {
      this.todos.splice(index, 1);
    },

    // Store todos in localStorage
    storeTodos(todos) {
      // Strip out the editable attribute
      let strippedTodos = todos.map(todo => {
        return {
          title: todo.title,
          description: todo.description,
          completed: todo.completed
        }
      });
      // Then store in localStorage
      localStorage.setItem('todos', JSON.stringify(strippedTodos));
    },

    // Add an item to todos
    addItem() {
      // Don't allow empty title
      if (this.newTitle == "") return false;
      // Push to todos
      this.todos.push({
        title: this.newTitle,
        description: this.newDescription,
        completed: false,
        editable: false,
        count: this.todoCount++
      });
      // Clear input
      this.newTitle = "";
      this.newDescription = "";
      // Focus on title input
      this.$nextTick(() => {
        this.$refs.newTitle.focus();
      });
    },

    // Go into edit mode
    startEditing(index) {
      // Set editable=true on given todo
      this.todos[index].editable = true;
      // Then focus on todo title input.
      this.$nextTick(() => {
        document.getElementById(`todoTitleInput${index}`).focus();
      });
    }
  },

  // Property watches
  watch: {
    // When todos changes, we store to localStorage
    todos: {
      handler: function(val) {
        this.storeTodos(val);
      }
    },
    deep: true
  },

  // Created lifecycle hook
  created() {
    // Pull stored todos
    let storedTodos = JSON.parse(localStorage.getItem('todos'));
    // Add "editable" attribute to each todo.
    if (storedTodos && storedTodos.length > 0) {
      let that = this;
      this.todos = storedTodos.map(todo => {
        todo.editable = false;
        todo.count = that.todoCount++;
        return todo;
      });
    }
    // Focus on "title" field for new todo.
    this.$nextTick(() => {
      this.$refs.newTitle.focus();
    });
  }
}
</script>


<style lang="sass">
  @import "./sass/main.sass"
</style>
